<h1>New Doctor schedule entry</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.doctor_schedule_entry_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.doctor_schedule_entry_path(@conn, :index) %></span>
