<h1>Edit Visit extra doctor</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.visit_extra_doctor_path(@conn, :update, @visit_extra_doctor)) %>

<span><%= link "Back", to: Routes.visit_extra_doctor_path(@conn, :index) %></span>
