<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Edent · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/select2.min.css") %>"/>
    <%= csrf_meta_tag() %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/jquery-3.4.1.min.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/select2.min.js") %>"></script>
  </head>
  <body>
    <style>
      li.hdr {
        font-size: 1.2em;
        text-align: left;
      }
    </style>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li class="hdr"><a href="/doctors">Доктора</a></li>
            <li><a href="/doctor_schedule">Расписание доктора</a></li>
            <li class="hdr"><a href="/manipulations">Манипуляции</a></li>
            <li class="hdr"><a href="/patients">Пациенты</a></li>
            <li><a href="/visits">Приемы</a></li>
            <li><a href="/visit_manipulations">Прием (манипуляции)</a></li>
            <li><a href="/visit_extra_doctors">Прием (врачи)</a></li>
            <li><a href="/treatment_plans">План лечения</a></li>
            <li><a href="/teethmap">Карта зубов</a></li>
            <li><a href="/photos">Фоточки</a></li>
            <li><a href="/reminders">Напоминалочки</a></li>
          </ul>
        </nav>
        <a href="/">
          <img src="<%= Routes.static_path(@conn, "/images/tooth.png") %>" />
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
