<h1>Edit Treatment plan item</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.treatment_plan_item_path(@conn, :update, @treatment_plan_item)) %>

<span><%= link "Back", to: Routes.treatment_plan_item_path(@conn, :index) %></span>
