<h1>New Treatment plan item</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.treatment_plan_item_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.treatment_plan_item_path(@conn, :index) %></span>
