<h1>New Visit manipulation</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.visit_manipulation_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.visit_manipulation_path(@conn, :index) %></span>
