<h1>New Teeth map items</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.teeth_map_items_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.teeth_map_items_path(@conn, :index) %></span>
