<h1>New Treatment plan</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.treatment_plan_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.treatment_plan_path(@conn, :index) %></span>
